/* Background blur and dim */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: #e1d0b3f1;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box */
.modal {
  background: #3883a6ba;
  color: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* Heading */
.modal-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Cross button */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}




/* Input area */
.input-container {
  position: relative;
  margin-bottom: 20px;
}

.password-input {
  width: 90%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.password-input:focus {
  border-color: #007bff;
}

/* Eye icon button */
.eye-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

/* Buttons */
.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-close {
  background-color: #e0e0e0;
}

.btn-close:hover {
  background-color: #d5d5d5;
}

.btn-accept {
  background-color: #6b2828;
  color: white;
}

.btn-accept:hover {
  background-color: #4e0d0d;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}